body, html {
    height: 100%;
    margin: 0;
    background-color: #ecf0f1;

}

.fullscreen {
    /* The image used */
    background-color: #ecf0f1;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main h1{

    font-family: 'Noto Sans';
    font-size: 100px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;

}

h6{
        /*font-family: 'Noto Sans'; */
}

.navnav{

}

img{
   border-radius: 3% !important;

}

.card{
    border-radius: 3% !important;
}




.box {
  width: 100%;
  height: 140%;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
    z-index: 0;

}

.wave {
  opacity: .5;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #0af;
  width: 700px;
  height: 700px;
  margin-right: -250px;
  margin-bottom: 100px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;

}

.wave.-three {
  animation: drift 5000ms infinite linear;
    opacity: .1;
    background: green;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: red;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}


@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.col-md-6{
    z-index: 30;
}


.header {
  text-decoration: none;
  position: relative;
}

.header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5%;
  border-bottom: 2px solid #e67e22;
  transition: 0.4s;
}

.header:hover:after {
  width: 100%;
}


.select{
  display: flex;

  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;


}
.category{
      background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 40%,#c2e9fb 50%, #fff 100%);
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    text-align: center;

    flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;


}

.category:hover {
  background-position: right center; /* change the direction of the change here */
}
