body, html {
    height: 100%;
    margin: 0;
    background-color: red;
}

.fullscreen {
    /* The image used */
    background-color: #ecf0f1;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main h1{

    font-family: 'Noto Sans';
    font-size: 100px;
    font-weight: 700;
   
}