.nav{
  rgb(0,0,0,1);
  color: #a0db8e;
  

  }
/* */
.nav a {
  
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  /*text-transform: uppercase;
 -webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
text-decoration: none;
*/
    color: #960018;

       -webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;


}

.nav li {
  display: inline;
}

.nav img{
  width: 50px;
  border-radius: 50%;
}

.everything a{
  /* */
    color: #960018;
text-decoration: none;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;

}


.jumbotron {
    background-color: rgb(104,115,254);
  /*background-image:url('grad back.jpg');*/
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 1000px;
  text-align:center;
   font-family:'Audiowide', cursive;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #a0db8e;
  font-size: 200px;  
  font-family: 'Poiret One','Luckiest Guy', 'Goudy Old Style', sans-serif;
  font-weight: bold;
    padding-left: 150px;

}

.jumbotron p {
  font-size: 78px;
  color: #9A3334;
  font-family: 'Poiret One','Luckiest Guy', 'Goudy Old Style', sans-serif;
    padding-left: 150px;
}

.neighborhood-guides{
    background-color: rgb(32,194,170); 

  /*background-image: url('back.jpg');*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 54px;
    font-family: 'Raleway', sans-serif;
}

.neighborhood-guides .future p {
    font-size: 25px;
    margin-bottom: 13px;
    text-align:center;
}

.neighborhood-guides p {
    font-size: 25px;
    margin-bottom: 13px;
     font-family: 'Open Sans Condensed', sans-serif;
}

.questions{
   /*background-image: url("green.jpg"); */
    background-color: rgb(80,203,0);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.questions p{
  font-size: 15px;
  color: rgb(240,239,136);

}

.questions h3{
  color: #FFFFFF;
  font-size: 25px;


}

.questions .first{
    width: 300px;
  margin: 40px;
  background: rgba(0,63,76,0.7);
  padding: 45px;
  border-radius: 50px
}

.questions .second{
    width: 300px;
  margin: 40px;
  background: rgba(0,63,76,0.7);
  padding: 45px;
  border-radius: 50px
}

.questions .third{
    width: 300px;
  margin: 35px;
  background: rgba(0,63,76,0.7);
  padding: 35px;
  border-radius: 50px

}

.questions .forth{
  width: 300px;
  margin: 35px;
  background: rgba(0,63,76,0.7);
  padding: 35px;
  border-radius: 50px;
}


.jumbotron img{
  /*width: 700px;
  border-radius: 1173px; */
    height:500px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 10);

 border-radius: 30%;
}

.youtube{
   background-color: rgb(203,6,4); 
  /*background-image: url("red.jpg");*/
   background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.youtube img{
  height:  400px;
  width: 400px;
  border:10px solid #021a40;
  border-radius: 20%
}

.youtube .brown img{
   position: relative; 
  right: 100px;
}

.youtube .gws img{
  position: relative; 
  left: 100px;
}

.youtube h2{
  font-size: 54px;
  color: #FF80AA;
  font-family: 'Raleway', sans-serif;
}

.youtube p{
  font-size: 25px;
  color: #7FFFD4;
  font-family: 'Open Sans Condensed' , sans-serif;
}

.projects {
    background-color: rgb(39,170,225);
}

.projects h2{
    font-size: 54px;
}
.projects h3{
    font-color:white;
}

.projects #proj{
   padding-bottom: 20px;
}

.projects #pong{
    text-align: left;
}

.projects #rock{
    text-align: right;
}

.projects #website{
    text-align: left;
}

.projects #classhack{
    text-align: right;
}